/*
	Mega StyleSheet For Immortal Header & Slider

	Item Name: Immortal Header & Slider
	Item URL: 
	Description: Different Types of Headers for Web Pages, Bootstrap Sliders, Bootstrap Mega Menu, Bootstrap Modal Forms
	Author: SZThemes
	Author URI: http://codecanyon.net/user/sz_themes
	Version: 1.0


								Content List
  -----------------------------------------------------------------------------------

	NAME ----------------------------------------LINE NUMBER--------------------- #

	SEPARATE NAVBAR HEADER VERSION ------------------59------------------------- 01

	SEPARATE NAVBAR HEADER VERSION RESPONSIVE -------1185----------------------- 02	

	SEPARATE NAVBAR HEADER VERSION COLORS -----------1656----------------------- 03	


	[ Note: Line Numbers Are According To Notepad++ ]


  ------------------------------------------------------------------


							Fonts Styles
  ------------------------------------------------------------------

	  'Raleway', sans-serif ---------------------------------- 01
	     'Lato', sans-serif ---------------------------------- 02
	            FontAwesome ---------------------------------- 03

  ------------------------------------------------------------------


							Color Codes
  ------------------------------------------------------------------

	NAME    ------------------------RGB-------------------------- #
	
	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#bf392b -------------------rgb(191, 57, 43)------------------ 03 Replace Only This Color To Change Whole Color Scheme
	#dddddd -------------------rgb(221, 221, 221)---------------- 04


*/


/*==========================================================================================================================================

												SEPARATE NAVBAR HEADER VERSION

==========================================================================================================================================*/


/*=======================================================
	---00---			
	COMMON CSS
========================================================*/

#immortal_header {

	-webkit-text-size-adjust: 100% !important;
	 -moz-osx-font-smoothing: grayscale !important;
	  -webkit-font-smoothing: antialiased !important;
	    -ms-font-size-adjust: inherit !important;
	        font-size-adjust: inherit !important;

}

/*=======================================================
	---01---			
	NAVIGATION BAR
========================================================*/

.separate_navbar_navbar {

	top: 25px;
	z-index: 3;
	margin: 0px;
	border: none;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.separate_navbar_navbar.affix {

    top: 0px;
    width: 100%;
    z-index: 10;
	position: fixed;
	
	-webkit-transition: background ease-in-out 0.5s, border ease-in-out 0.5s, top ease-in-out 0.5s, box-shadow ease-in-out 0.5s; /* Chrome, Safari, Opera */
            transition: background ease-in-out 0.5s, border ease-in-out 0.5s, top ease-in-out 0.5s, box-shadow ease-in-out 0.5s; /* Standard syntax */

}

.separate_navbar_navbar_responsive {

	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
	        border-radius: 5px; /* Standard syntax */

}

.separate_navbar_fa_angle_down {

	margin-left: 7px;

}

/*========== LOGO ==========*/

#separate_navbar_header_logo {

	width: 200px;
	margin-top: -5px;

	-webkit-transition: margin-top ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: margin-top ease-in-out 0.3s; /* Standard syntax */

}

/*========== TOGGLE BUTTON ==========*/

.separate_navbar_navbar_toggle {

	border: none;

}

.separate_navbar_navbar_toggle .icon-bar {

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
			transition: all ease-in-out 0.3s; /* Standard syntax */

}

.separate_navbar_navbar_toggle .separate_navbar_top_icon_bar {

	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			transform: rotate(45deg); /* Standard syntax */

	-webkit-transform-origin: 10% 10%; /* Chrome, Safari, Opera */
			transform-origin: 10% 10%; /* Standard syntax */

}

.separate_navbar_navbar_toggle .separate_navbar_middle_icon_bar {

	opacity: 0;

}

.separate_navbar_navbar_toggle .separate_navbar_bottom_icon_bar {

	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			transform: rotate(-45deg); /* Standard syntax */

	-webkit-transform-origin: 10% 90%; /* Chrome, Safari, Opera */
			transform-origin: 10% 90%; /* Standard syntax */

}

.separate_navbar_navbar_toggle.collapsed .separate_navbar_top_icon_bar {
	
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg); /* Standard syntax */

}

.separate_navbar_navbar_toggle.collapsed .separate_navbar_middle_icon_bar {

	opacity: 1;

}

.separate_navbar_navbar_toggle.collapsed .separate_navbar_bottom_icon_bar {

	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg); /* Standard syntax */

}

/*========== NAV TABS ==========*/

.separate_navbar_navbar_nav>li>a,
.separate_navbar_navbar_nav>li>a:visited {

	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: all ease-in-out 0.3s; /* Standard syntax */

	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
			transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

}

.separate_navbar_navbar_nav>li>a:before {

	top: 0;
	left: 0;
	height: 4px;
	content: "";
	z-index: -1;
	right: 100%;
	position: absolute;

	-webkit-transition: right ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: right ease-in-out 0.3s; /* Standard syntax */	

}

.separate_navbar_navbar_nav>li>a:hover:before,
.separate_navbar_navbar_nav>li>a:focus:before,
.separate_navbar_navbar_nav>li>a:active:before {

	right: 0;

}

.separate_navbar_navbar_nav>li>a:hover,
.separate_navbar_navbar_nav>li>a:active,
.separate_navbar_navbar_nav>li>a:focus {

	border: none;
	outline: none;

}

/*========== DROPDOWN ==========*/

.separate_navbar_dropdown_menu {

	border: none;
	padding: 0px;
	font-family: 'Lato', sans-serif;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.separate_navbar_dropdown_menu li a,
.separate_navbar_dropdown_menu li a:visited {

	padding: 15px 15px 15px 15px;

	-webkit-transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s; /* Chrome, Safari, Opera */
			transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_dropdown_menu li a i {

	margin-right: 5px;

}

/*========== MULTI LEVEL DROPDOWN ==========*/

.separate_navbar_dropdown_right i,
.separate_navbar_dropdown_left i  {

	margin-left: 15px;

}

.separate_navbar_dropdown_menu_right {

	top: -1px;
	left: 100%;
	position: absolute;

}

.separate_navbar_dropdown_menu_left {
	
	top: -1px;
	left: -92%;
	position: absolute;

}

/*========== SHORT CODE DROPDOWN ==========*/

.separate_navbar_dropdown_menu_shortcodes {

	left: -448px;
	width: 1000px;
	font-family: 'Lato', sans-serif;

}

.separate_navbar_shortcodes_list {

	padding: 0px;

}

.separate_navbar_shortcodes_list ul {

	padding: 0px;
	list-style-type: none;
	margin: 25px 0px 25px 0px;

}

.separate_navbar_shortcodes_list ul li a,
.separate_navbar_shortcodes_list ul li a:visited {

	display: block;
	text-decoration: none;
	padding: 5px 0px 5px 20px;	

}

.separate_navbar_shortcodes_list ul li a i {

	margin-right: 10px;
	
}

/*========== FEATURES DROPDOWN ==========*/

.separate_navbar_dropdown_menu_features {

	left: -590px;
	width: 1000px;
	font-family: 'Lato', sans-serif;

}

.separate_navbar_features_list {

	padding: 0px;

}

.separate_navbar_features_list ul {

	padding: 0px;
	list-style-type: none;
	margin: 25px 0px 25px 0px;

}

.separate_navbar_features_list ul li a,
.separate_navbar_features_list ul li a:visited {

	display: block;
	text-decoration: none;	
	padding: 5px 0px 5px 25px;

}

.separate_navbar_features_list_heading {

	padding: 5px 0px 5px 25px;

}

/*========== MEGA DROPDOWN ==========*/

.separate_navbar_dropdown_menu_mega {

	left: -877px;
	width: 1170px;
	padding: 5px 5px 5px 5px;
	font-family: 'Lato', sans-serif;

}

.separate_navbar_mega_list {

	margin: 0px;

}

.separate_navbar_mega_list ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.separate_navbar_mega_list ul li {

	margin: 25px 0px 25px 0px;

}

.separate_navbar_mega_list_heading {

	font-weight: normal;
	text-transform: uppercase;

}

.separate_navbar_mega_list ul li a,
.separate_navbar_mega_list ul li a:visited {

	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-transform: capitalize;

}

.separate_navbar_mega_list ul li a i {

	margin-right: 10px;

}

.separate_navbar_mega_image {

	margin: 0px;

}

.separate_navbar_mega_image ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.separate_navbar_mega_image ul li {

	margin: 25px 0px 25px 0px;

}

.separate_navbar_mega_image_heading {

	font-weight: normal;
	text-transform: uppercase;

}

.separate_navbar_mega_image img {

	width: 100%;

	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

}

.separate_navbar_mega_image ul li h5 {

	margin-top: 25px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: capitalize;

}

.separate_navbar_mega_image p {

	text-align: justify;

}

.separate_navbar_mega_posts {

	margin: 0px;

}

.separate_navbar_mega_posts ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.separate_navbar_mega_posts_heading {

	font-weight: normal;
	text-transform: uppercase;
	margin: 25px 0px 25px 0px;

}

.separate_navbar_mega_posts_col_img {

	margin: 0%;
	padding: 0%;

}

.separate_navbar_mega_posts_col_img img {

	width: 100%;
	opacity: 1;
	
	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

	-webkit-transition: opacity ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: opacity ease-in-out 0.3s; /* Standard syntax */

}

.separate_navbar_mega_posts_row {

	margin: 10px 0px 0px 0px;

}

.separate_navbar_mega_posts_col_text h5 {

	padding: 0px;
	margin: 0px 0px 5px 0px;
	text-transform: capitalize;

}

.separate_navbar_mega_posts_col_text h5 a,
.separate_navbar_mega_posts_col_text h5 a:visited {

	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-decoration: none;

}

.separate_navbar_mega_posts_row:hover .separate_navbar_mega_posts_col_img img {

	opacity: 0.7;

}

/*========== SHOP DROPDOWN ==========*/

.separate_navbar_dropdown_menu_shop {

	left: -965px;
	width: 1170px;
	padding: 15px 25px 15px 25px;
	font-family: 'Lato', sans-serif;

}

.separate_navbar_dropdown_menu_shop_row {

	margin-top: 10px;

}

.separate_navbar_dropdown_menu_shop_col img {

	width: 100%;
	opacity: 1;
	
	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

	-webkit-transition: opacity ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: opacity ease-in-out 0.3s; /* Standard syntax */

}

.separate_navbar_dropdown_menu_shop_col h5 {

	padding: 0px;
	margin: 20px 0px 5px 0px;
	text-transform: uppercase;

}

.separate_navbar_dropdown_menu_shop_col h5 a,
.separate_navbar_dropdown_menu_shop_col h5 a:visited {

	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-decoration: none;

}

.separate_navbar_dropdown_menu_shop_col p {

	text-align: justify;

}

.separate_navbar_dropdown_menu_shop_col:hover img {

	opacity: 0.7;

}

/*=======================================================
	---02---	
	SLIDER
========================================================*/

.separate_navbar_carousel_wrapper {

	top: -80px;
	overflow: hidden;
	max-height: 663px;
	margin-bottom: -80px;

}

.separate_navbar_carousel_wrapper > .carousel-inner > .item > img,
.separate_navbar_carousel_wrapper > .carousel-inner > .item > a > img {

	opacity: 0.7;
	margin: auto;
	width: 100% !important;

}

/*========== FADE EFFECT ==========*/

.separate_navbar_carousel_fade {

	opacity: 1;

}

.separate_navbar_carousel_fade .item {

	top: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0 !important;
	display: block !important;

	-webkit-transition: opacity ease-in-out 0.7s; /* Chrome, Safari, Opera */
       -moz-transition: opacity ease-in-out 0.7s; /* Mozilla */	
        -ms-transition: opacity ease-in-out 0.7s; /* IE 9 */	
         -o-transition: opacity ease-in-out 0.7s; /* Opera */  
            transition: opacity ease-in-out 0.7s; /* Standard syntax */

}

.separate_navbar_carousel_fade .item:first-child {

	top: auto;
	position: relative;

}

.separate_navbar_carousel_fade .item.active {

	opacity: 1;
	z-index: 2;

	-webkit-transition: opacity ease-in-out 0.7s; /* Chrome, Safari, Opera */
       -moz-transition: opacity ease-in-out 0.7s; /* Mozilla */	
        -ms-transition: opacity ease-in-out 0.7s; /* IE 9 */	
         -o-transition: opacity ease-in-out 0.7s; /* Opera */  
            transition: opacity ease-in-out 0.7s; /* Standard syntax */

}

/*========== LEFT/RIGHT CONTROL ==========*/

.separate_navbar_carousel_control_left,
.separate_navbar_carousel_control_right {

	top: 50%;
	z-index: 2;
	width: 55px;
	height: 55px;
	border: none;
	text-align: center;
	
	-webkit-border-radius: 100%; /* Chrome, Safari, Opera */
			border-radius: 100%; /* Standard syntax */

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: all ease-in-out 0.3s; /* Standard syntax */

}

.separate_navbar_carousel_control_icons {

	line-height: 50px;
	font-size: 34px !important;
	font-weight: normal !important;

}

.separate_navbar_carousel_control_left {

	left: 1% !important;

}

.separate_navbar_carousel_control_right {

	right: 1% !important;

}


/*========== CAPTION ==========*/

.separate_navbar_carousel_caption {

	left: 0%;
	z-index: 1;
	width: 100%;
	bottom: 45%;
	text-shadow: none;
	text-align: center;
	padding: 20px 20px 20px 20px;
	font-family: 'Raleway', sans-serif;

}

.separate_navbar_carousel_caption h2 {

	font-size: 30px;
	margin: 0px 0px 15px 0px;
	
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
            animation-delay: 1s; /* Standard syntax */

}

.separate_navbar_carousel_caption h1 {

	font-size: 45px;
	font-weight: 800;
	margin: 0px 0px 40px 0px;
	text-transform: uppercase;

	-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
            animation-delay: 1.5s; /* Standard syntax */

}

.separate_navbar_carousel_button_colored,
.separate_navbar_carousel_button_colored:visited {

	outline: 0;
	width: auto;
	height: 44px;
	border: none;
	margin: 0 10px;
	padding: 0 23px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	text-shadow: none;
	line-height: 44px;
	position: relative;
	font-style: normal;
	white-space: nowrap;
	letter-spacing: 1px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none !important;
	font-family: 'Raleway', sans-serif;

	-webkit-border-radius: 0px; 
	        border-radius: 0px; 

	-webkit-box-sizing:initial !important;
			box-sizing:initial !important;
			
 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */
			
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
            animation-delay: 2s; /* Standard syntax */

}

.separate_navbar_carousel_button_colored:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-border-radius: 0px; 
	        border-radius: 0px;

	-webkit-transform: scaleY(1); /* Chrome, Safari, Opera */
			transform: scaleY(1); /* Standard syntax */

	-webkit-transform-origin: 50%; /* Chrome, Safari, Opera */
			transform-origin: 50%; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_carousel_button_colored:hover,
.separate_navbar_carousel_button_colored:active,
.separate_navbar_carousel_button_colored:focus {

	box-shadow: none;	
	outline: none !important;

}

.separate_navbar_carousel_button_colored:hover:before,
.separate_navbar_carousel_button_colored:focus:before,
.separate_navbar_carousel_button_colored:active:before {

	-webkit-transform: scaleY(0); /* Chrome, Safari, Opera */
			transform: scaleY(0); /* Chrome, Safari, Opera */

}

/*=======================================================
	---03---			
	MODAL
========================================================*/

.separate_navbar_modal_dialog {

	top: 20px;

}

.separate_navbar_modal_content {

	left:12%;
	width: 75%;
	border: none;
	overflow: hidden;
	box-shadow: none;
	position: relative;
	
	-webkit-border-radius: 3px; /* Chrome, Safari, Opera */
	        border-radius: 3px; /* Standard syntax */
}

/*========== HEADER OF MODAL ==========*/

.separate_navbar_modal_header {
	
	border: none;
	text-align: left;
	padding: 20px 10px;

}

.separate_navbar_modal_header h3 {
	
	margin: 0px;

}

.separate_navbar_modal_header img {

	width: 250px;

}

.separate_navbar_modal_header>button {

	opacity: 1;
	z-index: 1;
	left: 10px;
	border: none;
	bottom: 10px;
	outline: none;
	font-size: 35px;
	text-shadow: none;
	position: relative;
	font-weight: normal;
	padding: 0px 9px 0px 9px;

	-webkit-transition: color 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.5s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_modal_header >button:hover,
.separate_navbar_modal_header>button:active,
.separate_navbar_modal_header>button:focus {

	opacity: 1;
	border: none;
	box-shadow: none;
	outline: none !important;

}

/*========== BODY OF MODAL ==========*/

.separate_navbar_modal_body {

	margin: 0px;
	font-family: 'Raleway', sans-serif;

}

#separate_navbar_modal_user_image {

	text-align: center;

}

#separate_navbar_modal_user_image img {

	width: 90px;
	
	-webkit-border-radius: 3px; /* Chrome, Safari, Opera */
	        border-radius: 3px; /* Standard syntax */

}

#separate_navbar_modal_user_image h3 {

	font-weight: bold;

}

.separate_navbar_modal_body_form>div {

	margin-top: 10px;
	margin-bottom: 25px;

}

.separate_navbar_modal_body_form  div input {

	height: 42px;
	box-shadow: none;
	padding: 0px 0px 0px 20px;
	
	-webkit-border-radius: 0px; /* Chrome, Safari, Opera */
	        border-radius: 0px; /* Standard syntax */

	-webkit-transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_modal_body_form  div textarea {

	box-shadow: none;
	height: initial !important;
	padding: 20px 0px 20px 20px;
	
	-webkit-border-radius: 0px; /* Chrome, Safari, Opera */
	        border-radius: 0px; /* Standard syntax */

	-webkit-transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_checkbox input { 

	height: initial !important;

}

.separate_navbar_modal_body_form  div input:focus,
.separate_navbar_modal_body_form  div textarea:focus {

	outline: none;
	box-shadow: none;

}

.separate_navbar_modal_body_form  button {

	border: none;
	display: block;
	font-size: 16px;
	overflow: hidden;
	box-shadow: none;
	position: relative;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	padding: 10px 35px 10px 35px;

 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_modal_body_form  button:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-transform: scaleY(1); /* Chrome, Safari, Opera */
			transform: scaleY(1); /* Standard syntax */

	-webkit-transform-origin: 50%; /* Chrome, Safari, Opera */
			transform-origin: 50%; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

.separate_navbar_modal_body_form  button:hover,
.separate_navbar_modal_body_form  button:focus,
.separate_navbar_modal_body_form  button:active {

	border: none;
	box-shadow: none;	
	outline: none !important;	

}

.separate_navbar_modal_body_form  button:hover:before,
.separate_navbar_modal_body_form  button:focus:before,
.separate_navbar_modal_body_form  button:active:before {

	-webkit-transform: scaleY(0); /* Chrome, Safari, Opera */
			transform: scaleY(0); /* Chrome, Safari, Opera */

}

/*========== FOOTER OF MODAL ==========*/

.separate_navbar_modal_footer {

	border: none;
	text-align: left;
	padding: 3px 0px 10px 20px;

}

#separate_navbar_contact_us_modal_social_icons ul {

    padding: 0;
	list-style-type: none;
	margin: 10px 10px 10px 0px;

}

#separate_navbar_contact_us_modal_social_icons ul li {

	float: left;
	margin-right: 1px;

}

#separate_navbar_contact_us_modal_social_icons ul li a {

	width: 30px;
	padding: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
	        border-radius: 5px; /* Standard syntax */

 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */

}

#separate_navbar_contact_us_modal_social_icons ul li a:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;
	
	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
	        border-radius: 5px; /* Standard syntax */
			
	-webkit-transform: scale(2); /* Chrome, Safari, Opera */
			transform: scale(2); /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

#separate_navbar_contact_us_modal_social_icons ul li a:hover:before,
#separate_navbar_contact_us_modal_social_icons ul li a:focus:before,
#separate_navbar_contact_us_modal_social_icons ul li a:active:before {

	-webkit-transform: scale(0); /* Chrome, Safari, Opera */
			transform: scale(0); /* Chrome, Safari, Opera */

}

/*========== SEARCH BAR ==========*/

.separate_navbar_modal_body_search {

	padding: 0px;

}

.separate_navbar_search_bar>div {

	width: 85%;
	float: left;
	margin: 0px;
	padding-top: 15px;

}

.separate_navbar_search_bar>div>input {

	border: none;
	font-size: 22px;
	box-shadow: none;
	font-weight: bold;
	border: none !important;

}

.separate_navbar_search_bar>div>input:focus {

	border: none;
	box-shadow: none;

}

.separate_navbar_search_bar>button {

	width: 15%;
	margin: 0px;
	padding: 25px;
	text-align: center;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.separate_navbar_search_bar>button>span {

	vertical-align: middle;

}


/*==========================================================================================================================================

												SEPARATE NAVBAR HEADER VERSION RESPONSIVE

==========================================================================================================================================*/


/*==================================================  MEDIA 991px  ==================================================*/


@media (max-width: 991px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/
	
	.separate_navbar_navbar {

		top: 0px;

	}
	
	.separate_navbar_navbar_responsive {
		
		-webkit-border-radius: 0px; /* Chrome, Safari, Opera */
				border-radius: 0px; /* Standard syntax */

	}
	
	.separate_navbar_navbar.affix {

        position: static;

    }
	
	#separate_navbar_header_logo {

		margin-top: 0px;

	}
	
	.separate_navbar_carousel_wrapper {

		top: 0px;
		margin-bottom: 0px;

	}

}


/*==================================================  MEDIA 767px  ==================================================*/


@media only screen and (max-width: 767px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/
	
	.separate_navbar_navbar_header {
	
		padding: 10px 0px 10px 0px;
	
	}
	
	.separate_navbar_navbar_nav {

		float: initial !important;

	}

	.separate_navbar_fa_angle_down {
	
		float: right;
		font-size: 22px;

	}

	/*========== DROPDOWN ==========*/
	
	.separate_navbar_dropdown_right i,
	.separate_navbar_dropdown_left i {

		display: none;

	}

	.separate_navbar_dropdown_menu_right,
	.separate_navbar_dropdown_menu_left {

		display: none;

	}
	
	.separate_navbar_navbar_nav,
	.separate_navbar_dropdown_menu {

		text-align: left;

	}

	.separate_navbar_shortcodes_list_border,
	.separate_navbar_features_list_border {

		border-right: none;

	}
	
	.separate_navbar_dropdown ul {

		text-align: center;

	}
	
	.separate_navbar_mega_image,
	.separate_navbar_mega_posts {
	
		text-align: center;
	
	}
	
	.separate_navbar_mega_image img,
	.separate_navbar_mega_posts_col_img img,
	.separate_navbar_dropdown_menu_shop_col img {

		width: 50%;

	}
	
	.separate_navbar_mega_posts_col_text h5 {

		margin: 10px 0px 10px 0px;

	}
	
	.separate_navbar_dropdown_menu_shop_col {
	
		text-align: center;
	
	}
	
	.separate_navbar_dropdown_menu_shop_col p {
	
		text-align: center;
	
	}

	.separate_navbar_dropdown_menu_share {

		float: initial !important;

	}
	
	/*=======================================================
							MODAL
	========================================================*/

	.separate_navbar_modal_content {

		width: 100%;
		position: static;

	}

}


/*==================================================  MEDIA 768px - 5000px  ==================================================*/


@media only screen and (min-width: 768px) and (max-width: 5000px) {

	/*=======================================================
				NAVIGATION BAR FADE EFFECT
	========================================================*/
	
	.separate_navbar_dropdown_menu {

		opacity: 0 !important;
		display: block !important;
		visibility: hidden !important;

		-webkit-transform: scale(0.9,0.9) !important; /* Chrome, Safari */
				transform: scale(0.9,0.9) !important; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; /* Chrome, Safari */
		transition:         transform 0.2s ease-in-out, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; /* Standard syntax */

	}

	.separate_navbar_dropdown:hover>.separate_navbar_dropdown_menu {

		opacity: 1 !important;
		visibility: visible !important;

		-webkit-transform: scale(1,1) !important; /* Chrome, Safari */
				transform: scale(1,1) !important; /* Standard syntax */

	}

}


/*==================================================  MEDIA 480px  ==================================================*/


@media only screen and (max-width: 480px) {

	/*========== SEARCH BAR ==========*/

	.separate_navbar_search_bar>div {

		width: 75%;

	}
	
	.separate_navbar_search_bar>button {

		width: 25%;

	}

	/*=======================================================
							SLIDER
	========================================================*/

	/*========== LEFT/RIGHT CONTROL ==========*/

	.separate_navbar_carousel_control_left,
	.separate_navbar_carousel_control_right {

		border: none;

	}
	
	.separate_navbar_carousel_control_icons {

		font-size: 18px !important;

	}

	/*========== CAPTION ==========*/

	.separate_navbar_carousel_caption {

		left: 0%;
		width: 100%;
		bottom: 5%;
		padding: 5px 5px 5px 5px;

		-webkit-border-radius: 0px; /* Chrome, Safari, Opera */
				border-radius: 0px; /* Standard syntax */

	}

	.separate_navbar_carousel_caption h2 {

		font-size: 20px;
		margin: 0px 0px 10px 0px;

	}

	.separate_navbar_carousel_caption h1 {

		font-size: 25px;
		margin: 0px 0px 10px 0px;

	}

	.separate_navbar_carousel_button_colored,
	.separate_navbar_carousel_button_colored:visited {

		margin: 0 0;
		height: 34px;
		padding: 0 13px;
		line-height: 34px;

	}

}


/*==================================================  MEDIA 481px - 600px  ==================================================*/


@media (min-width: 481px) and (max-width: 600px) {

	/*========== SEARCH BAR ==========*/

	.separate_navbar_search_bar>div {

		width: 75%;

	}

	.separate_navbar_search_bar>button {

		width: 25%;

	}

	/*=======================================================
							SLIDER
	========================================================*/

	/*========== LEFT/RIGHT CONTROL ==========*/

	.separate_navbar_carousel_control_left,
	.separate_navbar_carousel_control_right {

		border: none;

	}

	/*========== CAPTION ==========*/

	.separate_navbar_carousel_caption {

		left: 0%;
		bottom: 5%;
		width: 100%;

	}

}


/*==================================================  MEDIA 601px - 767px  ==================================================*/


@media (min-width: 601px) and (max-width: 767px) {

	/*=======================================================
							SLIDER
	========================================================*/

	/*========== CAPTION ==========*/

	.separate_navbar_carousel_caption {

		left: 0%;
		bottom: 15%;
		width: 100%;

	}

}


/*==================================================  MEDIA 768px - 991px  ==================================================*/


@media (min-width: 768px) and (max-width: 991px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

	/*========== DROPDOWN ==========*/

	.separate_navbar_dropdown_menu_left {
		
		left: 100%;

	}

	.separate_navbar_dropdown_menu_shortcodes {

		width: 725px;
		left: -225px;

	}

	.separate_navbar_dropdown_menu_features {

		width: 725px;
		left: -370px;

	}

	.separate_navbar_dropdown_menu_mega {

		left: -485px;
		width: 725px;

	}

	.separate_navbar_dropdown_menu_shop {

		left: -586px;
		width: 750px;

	}

	/*=======================================================
							SLIDER
	========================================================*/

	.separate_navbar_carousel_caption {

		bottom: 20%;

	}

}


/*==================================================  MEDIA 992px - 1250px  ==================================================*/


@media (min-width: 992px) and (max-width: 1250px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

	.separate_navbar_navbar_responsive {

		padding-left: 0px;
		padding-right: 0px;

	}

	/*========== DROPDOWN ==========*/

	.separate_navbar_dropdown_menu_shortcodes {

		left: -420px;
		width: 950px;

	}
	
	.separate_navbar_dropdown_menu_features {

		left: -565px;
		width: 950px;

	}
	
	.separate_navbar_dropdown_menu_mega {

		left: -709px;
		width: 990px;

	}

	
	.separate_navbar_dropdown_menu_shop {

		left: -775px;
		width: 950px;

	}

	/*=======================================================
							SLIDER
	========================================================*/

	.separate_navbar_carousel_caption {

		bottom: 25%;

	}

}


/*==========================================================================================================================================

											SEPARATE NAVBAR HEADER VERSION COLORS (MAROON)

==========================================================================================================================================*/

	
/*=======================================================
	---00---			
	NAVIGATION BAR
========================================================*/

/*=============== NAVBAR ===============*/

.separate_navbar_navbar  {

	background: transparent;

}

.separate_navbar_navbar_responsive  {

	background: #ffffff;

}

.separate_navbar_navbar.affix  {

	background: #ffffff;
	box-shadow: 0px 0px 10px #dddddd;

}

.separate_navbar_navbar_nav>li>a,
.separate_navbar_navbar_nav>li>a:visited {

	color: #bf392b !important;

}

.separate_navbar_navbar_nav>li>a:hover,
.separate_navbar_navbar_nav>li>a:active,
.separate_navbar_navbar_nav>li>a:focus {

	color: #bf392b !important;
	
}

.separate_navbar_navbar_nav>li>a:before {


	background: #bf392b;

}

.separate_navbar_navbar_nav>li>a,
.separate_navbar_navbar_nav>li>a:visited,
.separate_navbar_navbar_nav>li>a:hover,
.separate_navbar_navbar_nav>li>a:active,
.separate_navbar_navbar_nav>li>a:focus {

	background: transparent !important;

}

.separate_navbar_navbar_toggle .separate_navbar_top_icon_bar,
.separate_navbar_navbar_toggle .separate_navbar_bottom_icon_bar {

	background: #bf392b !important;

}

.separate_navbar_navbar_toggle.collapsed .separate_navbar_top_icon_bar,
.separate_navbar_navbar_toggle.collapsed .separate_navbar_middle_icon_bar,
.separate_navbar_navbar_toggle.collapsed .separate_navbar_bottom_icon_bar {

	background: #bf392b !important;

}

.separate_navbar_navbar_toggle,
.separate_navbar_navbar_toggle:hover,
.separate_navbar_navbar_toggle:active,
.separate_navbar_navbar_toggle:focus {

	background: transparent !important;

}

/*=============== MEDIA QUERIES ===============*/

@media (max-width: 991px) {

	/*=============== NAVBAR ===============*/
	
	.separate_navbar_navbar {

		background: #ffffff;

	}

	.separate_navbar_navbar.affix {

		background: #ffffff;

	}

}

/*=============== DROPDOWN ===============*/

.separate_navbar_dropdown_menu  {

	background: #ffffff;

}

.separate_navbar_dropdown_menu li a,
.separate_navbar_dropdown_menu li a:visited {

	color: #000000 !important;

}

.separate_navbar_dropdown_menu li a:hover,
.separate_navbar_dropdown_menu li a:active,
.separate_navbar_dropdown_menu li a:focus {

	color: #ffffff !important;

}

.separate_navbar_dropdown_menu li a:hover,
.separate_navbar_dropdown_menu li a:active,
.separate_navbar_dropdown_menu li a:focus {

	background: #bf392b !important;

}

.separate_navbar_dropdown_menu {

	box-shadow: 0px 0px 5px #dddddd;

}

/*=============== SHORTCODES, FEATURES, MEGA, SHOP ===============*/

.separate_navbar_dropdown_menu_mega,
.separate_navbar_dropdown_menu_shop {

	background: #ffffff;

}

.separate_navbar_features_list>ul>li >h4,
.separate_navbar_dropdown_menu_mega>li>ul>li>h4,
.separate_navbar_dropdown_menu_mega>li>ul>li>h5,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:visited,
.separate_navbar_dropdown_menu_shop_col>h5>a,
.separate_navbar_dropdown_menu_shop_col>h5>a:visited {

	color: #bf392b !important;

}

.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:hover,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:active,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:focus,
.separate_navbar_dropdown_menu_shop_col>h5>a:hover,
.separate_navbar_dropdown_menu_shop_col>h5>a:active,
.separate_navbar_dropdown_menu_shop_col>h5>a:focus {

	color: #bf392b !important;

}

.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:hover,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:active,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>h5>a:focus,
.separate_navbar_dropdown_menu_shop_col>h5>a:hover,
.separate_navbar_dropdown_menu_shop_col>h5>a:active,
.separate_navbar_dropdown_menu_shop_col>h5>a:focus {

	background: transparent !important;

}

.separate_navbar_shortcodes_list ul li a,
.separate_navbar_shortcodes_list ul li a:visited,
.separate_navbar_features_list ul li a,
.separate_navbar_features_list ul li a:visited,
.separate_navbar_dropdown_menu_mega>li>ul>li>a,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:visited,
.separate_navbar_dropdown_menu_mega>li>ul>li>p,
.separate_navbar_dropdown_menu_mega>li>ul>li>div>div>p,
.separate_navbar_dropdown_menu_shop_col>p {

	color: #000000 !important;

}

.separate_navbar_shortcodes_list ul li a:hover,
.separate_navbar_shortcodes_list ul li a:active,
.separate_navbar_shortcodes_list ul li a:focus,
.separate_navbar_features_list ul li a:hover,
.separate_navbar_features_list ul li a:active,
.separate_navbar_features_list ul li a:focus,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:hover,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:active,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:focus {

	color: #bf392b !important;

}

.separate_navbar_shortcodes_list ul li a:hover,
.separate_navbar_shortcodes_list ul li a:active,
.separate_navbar_shortcodes_list ul li a:focus,
.separate_navbar_features_list ul li a:hover,
.separate_navbar_features_list ul li a:active,
.separate_navbar_features_list ul li a:focus,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:hover,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:active,
.separate_navbar_dropdown_menu_mega>li>ul>li>a:focus {

	background: transparent !important;

}

/*=======================================================
	---01---			
	SLIDER
========================================================*/

.separate_navbar_carousel_wrapper {

	background: #000000;

}

/*========== LEFT/RIGHT CONTROL ==========*/

.separate_navbar_carousel_control_left,
.separate_navbar_carousel_control_left:hover,
.separate_navbar_carousel_control_left:active,
.separate_navbar_carousel_control_left:focus,
.separate_navbar_carousel_control_right,
.separate_navbar_carousel_control_right:hover,
.separate_navbar_carousel_control_right:active,
.separate_navbar_carousel_control_right:focus {

	color: #bf392b;
	background: #ffffff !important;

}

/*=============== CAPTION ===============*/

.separate_navbar_carousel_caption h2,
.separate_navbar_carousel_caption h1 {

	color: #ffffff;

}

.separate_navbar_carousel_button_colored,
.separate_navbar_carousel_button_colored:visited {

	color: #bf392b;

}

.separate_navbar_carousel_button_colored:hover,
.separate_navbar_carousel_button_colored:active,
.separate_navbar_carousel_button_colored:focus {

	color: #ffffff !important;

}

.separate_navbar_carousel_button_colored,
.separate_navbar_carousel_button_colored:visited {

	background: #bf392b;

}

.separate_navbar_carousel_button_colored:hover,
.separate_navbar_carousel_button_colored:active,
.separate_navbar_carousel_button_colored:focus {

	background: #bf392b !important;

}

.separate_navbar_carousel_button_colored:before {

	background: #ffffff;

}

/*=============== MEDIA QUERIES ===============*/

@media only screen and (max-width: 600px) {
	
	/*========== LEFT/RIGHT CONTROL ==========*/
	
	.separate_navbar_carousel_control_left,
	.separate_navbar_carousel_control_right,
	.separate_navbar_carousel_control_left:hover,
	.separate_navbar_carousel_control_left:active,
	.separate_navbar_carousel_control_left:focus,
	.separate_navbar_carousel_control_right:hover,
	.separate_navbar_carousel_control_right:active,
	.separate_navbar_carousel_control_right:focus	{

		background: transparent !important;

	}

}


/*=======================================================
	---02---	
	MODAL
========================================================*/

.separate_navbar_modal_fade {

	background: rgba(255, 255, 255, 0.4);

}

.separate_navbar_modal_header>button,
.separate_navbar_modal_body_form  button,
#separate_navbar_contact_us_modal_social_icons ul li a,
#separate_navbar_contact_us_modal_social_icons ul li a:hover,
#separate_navbar_contact_us_modal_social_icons ul li a:active,
#separate_navbar_contact_us_modal_social_icons ul li a:focus {

	color: #ffffff;

}

.separate_navbar_modal_header {

	color: #ffffff;
	background: #000000;

}

.separate_navbar_modal_header >button:hover,
.separate_navbar_modal_header>button:active,
.separate_navbar_modal_header>button:focus {

	color: #bf392b;

}

.separate_navbar_modal_body,
.separate_navbar_modal_body_form div input,
.separate_navbar_modal_body_form div textarea {

	background: #ffffff;

}

.separate_navbar_modal_body_form div input,
.separate_navbar_modal_body_form div textarea {

	color: #000000;

}

.separate_navbar_modal_body_form div input,
.separate_navbar_modal_body_form div textarea {

	border: 1px solid #dddddd;

}

.separate_navbar_modal_body_form div input:focus,
.separate_navbar_modal_body_form div textarea:focus {

	border: 1px solid #bf392b;

}

.separate_navbar_modal_body_form button,
#separate_navbar_contact_us_modal_social_icons ul li a  {

	background: #bf392b;

}

.separate_navbar_modal_body_form button:before,
#separate_navbar_contact_us_modal_social_icons ul li a:before {

	background: #000000;

}

.separate_navbar_modal_body_form button:hover,
.separate_navbar_modal_body_form button:active,
.separate_navbar_modal_body_form button:focus {

	color: #ffffff !important;
	background: #bf392b !important;

}

#separate_navbar_modal_user_image img {

	background: transparent !important;

}

.separate_navbar_modal_footer a {

	color: #000000;

}